.hr{
    height: 3px;
    background-color: rgb(242, 167, 29)!important;
}

.container{
    height: 100vh!important;
}

.btn{
    border-color: rgb(242, 167, 29)!important;
}

.amount{
   color: rgb(242, 167, 29)!important;
}

/* img{
border: solid rgb(242, 167, 29) 2px;} */